<!-- <% if user_signed_in? %> -->
  <div class="banner">
    <h2 class="banner">161 days to go!</h2>
  </div>
  <div class="name">
    <h3> Your Secret Santa is</h3>
  <img class="profile_pic" src="/betty.jpg">
    <h1> Betty!</h1>
  </div>
  <p>About Betty:</p>

  <label for="tag-typer">
  <div id="tags">
    <span class="tag"><span class="close">&times;</span>pet-lover</span>
    <span class="tag"><span class="close">&times;</span>drinks connosseur</span>
    <span class="tag"><span class="close">&times;</span>style-savvy</span>
    <span class="tag"><span class="close">&times;</span>foodies</span>
    <br>
    <input id="tag-typer" type="text" placeholder="Anything else?"/>

  </div>
  </label>

  <%= link_to "What we recommend...", groups_path %>
  <p class="banner"> Need some inspiration...?</p>

  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<!-- <% else %> -->
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<!-- <% end %>  -->
