<!-- <% if user_signed_in? %> -->
  <div class="banner">
    <h2>161 days to go!</h2>
  </div>
  <div class="row">
  <span class="message">
    <div class="name">
      <h3>  </h3>
    </div>
    <img class="profile_pic" src="/betty.jpg">
    <p>Betty likes:</p>
      <p class="category">Pets</p>
      <p class="category">Fashion</p>
      <p class="category">Christmas</p>
      <!-- <p class="category">Add your own....</p> -->
  </span>
 <h1>Your Secret Santa is Betty!</h1>
</div>

    <br>
  <p class="bottom_banner">Need some inspiration...?</p>

  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<!-- <% else %> -->
  <%= link_to "Sign in", new_user_session_path %>
  <!-- <%= link_to "Sign up", new_user_registration_path %> -->
<!-- <% end %>  -->
