<!-- <% if user_signed_in? %> -->
  <div class="banner">
    <h2 class="banner">161 days to go!</h2>
  </div>
  <div class="name">
    <h3> Your Secret Santa is Betty! </h3>
  </div>
  <img class="profile_pic" src="/betty.jpg">
  <p>Betty likes:</p>
  <label for="tag-typer">
  <div id="tags">
    <span class="tag"><span class="close">&times;</span>pet-lover</span>
    <span class="tag"><span class="close">&times;</span>drinks connosseur</span>
    <span class="tag"><span class="close">&times;</span>style-savvy</span>
    <span class="tag"><span class="close">&times;</span>foodies</span>
    <input id="tag-typer" type="text" placeholder="Annything we missed?"/>

  </div>
  </label>



  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<!-- <% else %> -->
  <%= link_to "Sign in", new_user_session_path %>
  <!-- <%= link_to "Sign up", new_user_registration_path %> -->
<!-- <% end %>  -->
