<!-- <% if user_signed_in? %> -->

    <h2 class="banner">161 days to go!</h2>
  <br>
  <div class="name">
    <h3> Your Secret Santa is</h3>
  <img class="profile_pic" src="/betty.jpg">
    <h1> Betty!</h1>
  </div>
  <p>Betty loves:</p>
  <label for="tag-typer">
  <div id="tags">
    <span class="tag"><span class="close">&times;</span>pets</span>
    <span class="tag"><span class="close">&times;</span>wine</span>
    <span class="tag"><span class="close">&times;</span>neck wear</span>
    <span class="tag"><span class="close">&times;</span>food</span>
    <br>
    <input id="tag-typer" type="text" placeholder="Anything else?"/>
  </div>
  </label>

  <div class="banner">
    <span style="width: 50%; text-align: center; margin-right: 30px" class="elf"><%= link_to "Elves' choice...", groups_path %></span>
    <span style="width: 50%; text-align: center"> Need some inspiration...?</span>
  </div>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<!-- <% else %> -->
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<!-- <% end %>  -->
