<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <a href="groups/new">Create a group</a>
  <% if @groups.any? %>
    <% @groups.each do |group| %>
    <h2> <%= link_to group.name, group_path(group) %> </h2>
  <% end %>
  <% else %>
    No groups CREAT ONE goddammit
  <% end %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
