/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body  {
  background-image: url(/assets/secret_santa_bg.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  text-align: center;
  font-family: 'Lato';
  color: #5A6351
  /*background-repeat: no-repeat;*/
}


* {

  transition: all 400ms ease;

}





.row, .column {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2),0 1px 2px rgba(255,255,255,0.2);

}

.row:hover h1, .column:hover h1{

  top: -30px;

}

.row {
  width: 95%;
  background: #444;
  height: 95px;
  position: relative;
  float: left;
  margin: 1.5% 2.5% 0 2.5%;

}

.column {

  width: 28.333333%;
  background: #444;
  height: 95px;
  position: relative;
  float: left;
  margin: 2.5%;

}

h1 {

  width: 100%;
  position: absolute;
  background: #00d8d0;
  padding: 8px;
  line-height: 1em;
  font-size: 2em;
  display: block;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin-left: -8px;
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);

}

h1:before, h1:after {

  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  content: " ";
  transform: rotate(-45deg);
  z-index: -1;
  bottom: -6px;

}

h1:before {

  left: 3px;
  background: linear-gradient(135deg, rgba(0,216,208,1) 0%,rgba(0,0,0,1) 100%);

}

h1:after {
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(0,216,208,1) 100%);
  right: 2px;

}

span {

  display: block;
  box-sizing: border-box;
  background: #f1f1f1;
  width: 90%;
  top: 22px;
  color: #444;
  margin-left: 5%;
  padding:10px;
  position: absolute;
  text-align: center;
  text-shadow: none;
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

}

.row:hover span, .column:hover span{

  top: 39px;

}

.banner {
  background-color: #ff6961;
  color:white;
}

.social {
  width: 40x;
  height: 40px;
  border-radius: 25px;
  padding: 15px;
}

.profile_pic{
  max-width:140px;
  max-height:140px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.category {
  display: inline-block;
  background-color: green;
  border: solid 1px red;
  padding: 5px;
  padding-right: 35px;
}

.bottom_banner{
    height: 45px;
    background-color: green;
    padding-top: 20px;
}
